<!DOCTYPE html>
<html lang="en">
  {% include "../partials/head.njk" %}
  <body class="container">
    {% include "../partials/navbar.njk" %} {% block content %}
    {{ content }}
    {% endblock content %} {% include "../partials/footer.njk" %}
  </body>
</html>
